.father {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.child {
  flex-basis: 33%;
  background: peru;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(4) {
  margin-top: 10px;
}

/* 위와같이 flexbox를 사용하면 box를 옆으로두기
  가운데 두기, 좌우나누기 등은 쉬운데 grid 형태 만들기가 어려움 */
