.grid {
  background: #000;
  color: white;
  display: grid;
  gap: 5px;
  height: 200vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  /* justify-content: center;
  align-content: center; */
  /* shorcut - align-content and justify-content */
  place-content: center end;
}

.header {
  background: #2ecc71;
}
.nav {
  background: #8e44ad;
}
.content {
  background: #3498db;
}
.footer {
  background: #e5274e;
}
